* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-container {
    height: 100%;
    font-family: 'Open Sans';
}

.view {
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 250px);
    float: left;
}

/* Navbar Styles */

.nav {
    background: #2b2f3e;
    min-height: 100%;
    width: 250px;
    float: left;
    list-style: none;
    position: relative;
}

.nav a {
    text-decoration: none;
}

.nav-item {
    padding: 30px;
}

.nav-item a {
    color: #565a70;
    font-size: 36px;
    line-height: 36px;
}

.nav-subitem {
    height: 57px;
    padding-left: 28px;
}

.nav-subitem a {
    width: 100%;
    color: #81848c;
    font-size: 18px;
    line-height: 57px;
}

.active-nav-item {
    background: #ff3258;
}

.active-nav-item a {
    color: #fff;
}

/* Overview Section Styles */

.overview {
    box-sizing: border-box;
    min-height: 100%;
    max-height: 100%;
    background: #f9f9f9;
    padding: 30px;
}

.overview input {
    box-sizing: border-box;
    width: calc(100% - 135px);
    font-size: 16px;
    color: #b3b3b3;
    height: 100%;
    padding: 0 5px;
    margin-right: 5px;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.overview textarea {
    box-sizing: border-box;
    font-size: 16px;
    color: #b3b3b3;
    width: 100%;
    padding: 0 5px;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    border-radius: 4px;
    resize: none;
}

.overview button {
    height: 100%;
    width: 130px;
    color: #fff;
    background-color: #27ccc0;
    border: solid 1px #27ccc0;

    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    float: right;
}

.overview button:disabled {
    color: #fff;
    background-color: #ccc;
    border: solid 1px #ccc;
    cursor: default;
}

.overview input:focus {
    border: solid 1px #79785b;
    outline: none;
    color: #2b2f3e;
}

.overview textarea:focus {
    border: solid 1px #79785b;
    outline: none;
    color: #2b2f3e;
}

/* Items Subsections Styles */

.items {
    box-sizing: border-box;
    background: #fff;
    width: calc((100% - 15px) / 2);
    min-height: 525px;
    float: left;
    padding: 20px 0 20px 0;
    margin-right: 15px;
    border: solid 1px #ccc;
    -webkit-box-shadow: 0 0 3px 1px #ccc;
    -moz-box-shadow: 0 0 3px 1px #ccc;
    box-shadow: 0 0 3px 1px #ccc;
}

.items label {
    font-size: 36px;
    color: #565a70;
    margin-bottom: 15px;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}

.input-item-row {
    font-size: 0;
    display: table;
    height: 37px;
    width: calc(100% - 60px);
    margin-bottom: 9px;
    padding-left: 30px;
    padding-right: 30px;
}

.item {
    width: 100%;
    height: 55px;
    padding: 9px 30px 9px 30px;
    border-bottom: solid 1px #f2f2f2;
    font-size: 16px;
    color: #2b2f3e;
    box-sizing: border-box;
    cursor: pointer;
}

.item-name {
    display: inline-block;
    overflow: hidden;
    line-height: 37px;
    max-width: calc(100% - 100px - 90px);
    vertical-align: middle;
}

.item button {
    width: 100px;
    background-color: #fff;
    border: solid 2px #ff3258;
    color: #ff3258;
}

.item-comments-number {
    display: inline-block;
    vertical-align: middle;
    background-color: #27ccc0;
    border-radius: 8px;
    padding: 0 8px;
    margin-left: 30px;
}

.active-item {
    -webkit-box-shadow: -4px 0 0px 0px #ff2f5a;
    -moz-box-shadow: -4px 0 0px 0px #ff2f5a;
    box-shadow: -4px 0 0px 0px #ff2f5a;
    background: #f9f9f9;
}

/* Comments Subsections Styles */

.comments {
    box-sizing: border-box;
    background: #fff;
    width: calc((100% - 15px) / 2);
    min-height: 525px;
    float: left;
    padding: 20px 30px;
    margin-right: 0px;
    border: solid 1px #ccc;
    -webkit-box-shadow: 0 0 3px 1px #ccc;
    -moz-box-shadow: 0 0 3px 1px #ccc;
    box-shadow: 0 0 3px 1px #ccc;
}

.comments-header {
    font-size: 36px;
    color: #565a70;
    margin-bottom: 15px;
}

.comment-row {
    box-sizing: border-box;
    width: 100%;
    font-size: 0;
    display: table;
    padding: 15px 0 25px 0;
    border-bottom: solid 1px #f2f2f2;
}

.comment {
    display: inline-block;
    width: calc(100% - 52px);
    height: auto;
    padding: 0 10px;
    border: none;
    font-size: 12px;
    vertical-align: top;
    color: #2b2f3e;
    box-sizing: border-box;
}

.comment-img {
    display: inline-block;
    height: 52px;
    width: 52px;
    padding: 0;
    background: #ff8a00;
    vertical-align: top;
}

.input-comment-row {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    font-size: 0;
    display: table;
    padding: 15px 0 25px 0;
    border-bottom: solid 1px #f2f2f2;
}

.comments button {
    height: 37px;
}

/*Customizing The Scrollbar styles*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8c8c8c;
}